<!DOCTYPE html>
<html>
<head>
  <title>Share | Bond | Momentora</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--Application.css-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/application.css">
  <!--Application.css.scss-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/application.css.scss">
  <!--Bootstrap-theme.min.css-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/bootstrap-theme.min.css">
  <!--Bootstrap-min.css-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/bootstrap.min.css">
  <!--Mainpage.css-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/mainpage.css">
  <!--Scaffold.css.scss-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/scaffolds.css.scss">
  <!--SimpleTextRotator.css-->
  <link rel="stylesheet" type="text/css" href="http://momentoraheroku.s3.amazonaws.com/CSS/simpletextrotator.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>
